# Auto detect text files and perform LF normalization
* text=auto

*.sh text eol=lf

# cmake launcher templates
*.sh.in text eol=lf
*.cmd.in text eol=crlf
*vcproj.user.in text eol=crlf
*vcxproj.user.in text eol=crlf
