bld*/
build*/
cmake_build/
cmake_build*/
dependencies/
CMakeFiles/
stk-editor/

.config/
supertuxkart-64
make*.bat
__pycache__

data/editor
data/karts
data/library
data/models
data/music
data/sfx
data/textures
data/tracks
data/wip-tracks
data/.svn

# Ignore doxygen output
src/html

*.o
*.d
*.a
*.patch
*.diff
*.obj
*.orig
*.rej
*.log
*.lib
*.tlog
*.pdb
*.dll
*.exe
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*~
*.swp

# Ignore QtCreator project file
CMakeLists.txt.user

packets_log.txt
history.dat
README.dependencies
xx

android/android-ndk-r10e
android/jni/jpeglib
android/jni/freetype
android/jni/ifaddrs
