bld*/
build*/
cmake_build/
cmake_build*/
dependencies/
CMakeFiles/
stk-editor/
lib/zlib/CMakeFiles/
lib/zlib/CMakeCache.txt
lib/zlib/libz.a
lib/zlib/libz.so.1
lib/zlib/libz.so.1.2.8
lib/zlib/cmake_install.cmake
lib/zlib/Makefile.in
lib/zlib/Makefile

.config/
supertuxkart-64
make*.bat
__pycache__

data/editor
data/karts
data/library
data/models
data/music
data/sfx
data/textures
data/tracks
data/wip-tracks
data/.svn

# Ignore doxygen output
src/html

*.o
*.d
*.a
*.patch
*.diff
*.obj
*.orig
*.rej
*.log
*.lib
*.tlog
*.pdb
*.dll
*.exe
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
*~
*.swp

# Ignore QtCreator project file
CMakeLists.txt.user

packets_log.txt
history.dat
README.dependencies
xx
