[Desktop Entry]
Encoding=UTF-8
Name=Supertuxkart
Icon=supertuxkart_64.xpm
Comment=A kart racing game
Comment[fr_FR]=Un jeu de karting
Comment[ro_RO]=Un joc de curse cu carturi
Exec=supertuxkart
Terminal=false
StartupNotify=false
Type=Application
TryExec=supertuxkart
Categories=3DGraphics;Game;ActionGame;Simulation;SportsGame;
