
[Desktop Entry]
Encoding=UTF-8
Name=Supertuxkart
Version=0.5
Icon=PREFIX/share/pixmaps/supertuxkart_64.xpm
Comment=A kart racing game
Comment[fr_FR]=Un jeu de karting
Comment[ro_RO]=Un joc de curse cu carturi
Comment[de_DE]=Ein Kart-Rennspiel
Exec=PREFIX/games/supertuxkart --log=file
Terminal=false
StartupNotify=false
Type=Application
TryExec=PREFIX/games/supertuxkart
Categories=Game;ArcadeGame;
GenericName=
