[Desktop Entry]
Name=SuperTuxKart
Icon=@PREFIX@/share/pixmaps/supertuxkart_128.png
GenericName=A kart racing game
GenericName[de_DE]=Ein Kart-Rennspiel
GenericName[fr_FR]=Un jeu de karting
GenericName[gl]=Xogo de carreiras con karts
GenericName[ro_RO]=Un joc de curse cu carturi
Exec=@PREFIX@/@STK_INSTALL_BINARY_DIR@/supertuxkart --no-console
Terminal=false
StartupNotify=false
Type=Application
TryExec=@PREFIX@/@STK_INSTALL_BINARY_DIR@/supertuxkart
Categories=Game;ArcadeGame;
