name: tmate
on: push

permissions:
  contents: read
  id-token: write

jobs:
  # Testing
  depot:
    name: TMATE
    runs-on: depot-macos-15
    steps:
      - uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: false
